
@font-face {
  font-family: 'BauhausLightCTT';
  src: url('BauhausLightCTT.eot?#iefix') format('embedded-opentype'),  url('BauhausLightCTT.woff') format('woff'), url('BauhausLightCTT.ttf')  format('truetype'), url('BauhausLightCTT.svg#BauhausLightCTT') format('svg');
  font-weight: normal;
  font-style: normal;
}
